* {
  margin: 0;
}

body {
  background-color: #F7EFE5;
}

#header {
  display: flex;
  justify-content: center;
  background-color: #ea6c59;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

#header img {
  width: 20rem;
  height: 6rem;
}

#book-collection {
  background-color: #4B352D;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

.book-shelf {
  width: 120px;
  height: 200px;
  gap: 10px;
  padding: 10px;
  transition: transform 0.3s ease;
}

.book-shelf:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#form-content {
  margin: 0 auto;
  display: flex;
  justify-content: start;
  width: 75%;
  height: 5rem;
  gap: 1rem;
  padding: 5rem;
}

#book-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#book-details img {
  height: 25rem;
  width: 18rem;
}

label {
  color: #4B352D;
  font-size: larger;
}

input[type="text"],
#mode-select,
.submit-btn {
  height: 2.5rem;
  padding: 0 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  background-color: #FFF9F1;
  color: #3B4C5A;
}

#mode-select {
  background-color: #8A9A77;
  color: #FFF9F1;
  border: none;
}

#mode-select:hover {
  background-color: #839371;
  cursor: pointer;
}

.submit-btn {
  background-color: #8A9A77;
  color: #FFF9F1;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 0.5rem 1rem;
  font-size: large;
  border-radius: 5%;
}

.submit-btn:hover {
  background-color: #A46763;
  cursor: pointer;
}

#add-book,
#edit-book,
#delete-book,
#search-book {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#title, #author, #genres {
  color: #4B352D;
}

#title {
  font-size: 2rem;
}

#author,
#genres {
  font-size: 1.2rem;
  padding: 0.25rem;
}

.hidden {
  display: none !important;
}

#scanner-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

#scanner-div #start-scan-btn, #isbn-result, #book-isbn-input {
  width: 12rem;
}

#scanner-container {
  position: relative;
  width: 100%;
  max-width: 640px;
  aspect-ratio: 4 / 3;
  margin: 1rem auto;
  border: 2px solid #8A9A77;
  background-image: url('./imgs/scancam.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#scanner-container canvas.drawingBuffer {
  pointer-events: none;
  display: none;
}

#start-scan-btn {
  background-color: #8A9A77;
  color: #FFF9F1;
  border: none;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s ease;
  font-size: large;
  border-radius: 5%;
}

#start-scan-btn:hover {
  background-color: #A46763;
  cursor: pointer;
}

#scan-inputs {
  display: flex;
  justify-content: center;
  width: 25%;
  gap: 1rem;
}

@media (max-width: 1200px) {

  #form-content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: wrap;
    height: auto;
    width: 50%;
    padding: 1rem;
  }

  #scanner-container {
    margin: 0 auto;
    width: 90%;
  }

}
